.Weather {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.WeatherCard {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0; 
}

.WeatherCardIcon {
  width: 3rem;
  height: 3rem;
}