.__Weather {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.__Weather-Card {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0; 
}